<?xml version="1.0" encoding="UTF-8"?>
<entry xmlns="http://www.w3.org/2005/Atom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/">
  <id>urn:uuid:fake</id>
  <updated>{{exchange.properties.date}}</updated>
  <author>
    <name>fedoraAdmin</name>
    <uri>http://localhost:8080/fedora</uri>
  </author>
  <title type="text">modifyObject</title>
  <category term="{{exchange.properties.pid}}" scheme="fedora-types:pid" label="xsd:string"></category>
  <category term="A" scheme="fedora-types:state" label="xsd:string"></category>
  <summary type="text">{{exchange.properties.pid}}</summary>
  <content type="text">{{exchange.properties.date}}</content>
</entry>